.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
  }
  
  .full-width {
    grid-column: span 3;
  }
  
  button {
    align-self: center;
  }

  .row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }