<h2 mat-dialog-title>Órdenes del cliente</h2>
<mat-dialog-content>
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

    <ng-container matColumnDef="orderId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
      <td mat-cell *matCellDef="let row">{{ row.orderId }}</td>
    </ng-container>

    <ng-container matColumnDef="requiredDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha Requerida</th>
      <td mat-cell *matCellDef="let row">{{ row.requiredDate | date: 'dd/MM/yyyy hh:mm:ss a' }}</td>
    </ng-container>

    <ng-container matColumnDef="shippedDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha Envío</th>
      <td mat-cell *matCellDef="let row">{{ row.shippedDate | date: 'dd/MM/yyyy hh:mm:ss a' }}</td>
    </ng-container>

    <ng-container matColumnDef="shipName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre Envío</th>
      <td mat-cell *matCellDef="let row">{{ row.shipName }}</td>
    </ng-container>

    <ng-container matColumnDef="shipAddress">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Dirección</th>
      <td mat-cell *matCellDef="let row">{{ row.shipAddress }}</td>
    </ng-container>

    <ng-container matColumnDef="shipCity">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Ciudad</th>
      <td mat-cell *matCellDef="let row">{{ row.shipCity }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>
  
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="close()">Cerrar</button>
</mat-dialog-actions>